<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Placement Predictor</title>
</head>
<body>

    <h1>Patient hearing capability</h1>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
    <form method="post" action="/predict">
        <label>age</label><br>
        <input type="text" name="age"><br><br>

        <label>physical_score</label><br>
        <input type="text" name="physical_score"><br><br>

        <input type="submit" value="Predict"><br><br>
    </form>

</body>
</html>